
<!-- Main Nav = Sidebar Nav --------------------------------------------------->
{{#if isFrontPage }}
  <br>
{{ else }}
  <nav id="main-nav" class="">
    <ul class="menu">
      <li><a href="/main">Main</a></li>
      <li><a href="/dispatch/dispatching">Dispatch</a></li>
      <li><a href="/core-warranty">Core/Warranty</a></li>
      {{#if isAdmin }}
        <li><a href="/users">Users</a></li>
      {{/if}}
    </ul>
  </nav>
{{/if}}
