
<!-- Main Nav = Sidebar Nav --------------------------------------------------->
{{#if isFrontPage }}
  <br>
{{ else }}
  <nav id="main-nav" class="">
    <ul class="menu">
      <li><a href="/main">Main</a></li>
      <li><a href="/dispatch/dispatching">Dispatch</a></li>
      <li><a href="/core-warranty">Core/Warranty</a></li>
      {{#if isAdmin }}
        <li><a href="/users">Users</a></li>
      {{ else }}
        <span></span>
      {{/if}}
    </ul>
<!--
    <br>
    {{#if displayName }}
    <div style="color: gray;">Logged in<br> {{ displayName }}</div>
    {{/if}}
    <form action="/logout" method="post">
      <button id="sign-out-button" type="submit" name="logout">Sign Out</button>
    </form>
-->
  </nav>
{{/if}}
