
<!-- Firebase Login --------------------------------------------------------->
<!-- https://codepen.io/johngerome/pen/pdrgk -->
<!-- DO NOT USE <FORM> as wrapper of firebase auth input fields -->
<div class="large-3 large-centered columns">
  <div id="loginBox">
    <div class="row">
      <div class="large-12 columns">
        <h4>Sign in with email</h4>
        <!--Error Message------------------------------>
        <div class="row">
          <div class="large-12 columns">
            <div id="errorMessage">
              {{#if error }}
                {{ error }}
              {{/if}}
            </div>
          </div>
        </div>
        <!-- Login Form ------------------------------------------------------->
        <form action="/login" method="post">
          <!--Inputs----------------------------------->
          <div class="row">
            <div class="large-12 columns">
              <!-- Passport Requires name="username" even if it's an email address -->
              <input id="username" type="email" placeholder="Email" name="username">
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <!-- Passport Requires name="password" not 'pass, etc' -->
              <input id="password" type="password" placeholder="Password" name="password">
            </div>
          </div>
          <!--Button----------------------->
          <button id="btnLogin" class="button">
            Log In
          </button>
        </form>
        <!-- End Login Form --------------------------------------------------->
        <!-- Password reset --------------------------------------------------->
        <span>Need to reset your password?</span>
        <form action="/password-reset" method="post">
          <div class="row">
            <div class="large-12 columns">
              <input id="emailPasswordReset" type="email" placeholder="Enter Your Email Address Here" name="emailPasswordReset" style="margin-bottom: 0;">
              <span style="color: gray;">password reset link will be emailed to you</span>
            </div>
          </div>
          <!--Button----------------------->
          <button id="btnPasswordReset" class="button">
            Password Reset
          </button>
        </form>
        <!-------------------------------------------------------->
      </div>
    </div>
  </div>
</div>
