<h1>TNT Login</h1>

<!-- Firebase Login --------------------------------------------------------->
<!-- https://codepen.io/johngerome/pen/pdrgk -->
<!-- DO NOT USE <FORM> as wrapper of firebase auth input fields -->
<div class="large-3 large-centered columns">
  <div id="loginBox">
    <div class="row">
      <div class="large-12 columns">
        <!--Error Message----------------------------------------->
        <div class="row">
          <div class="large-12 columns">
            <div id="errorMessage"></div>
          </div>
        </div>
        <!--Inputs------------------------------------------------>
        <div class="row">
          <div class="large-12 columns">
            <input id="txtEmail" type="email" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <input id="txtPassword" type="password" placeholder="Password">
          </div>
        </div>
        <!--Buttons----------------------------------------------->
        <button id="btnLogin" class="button">
          Log In
        </button>
        <a id="btnPasswordReset" class="">
          Password Reset
        </a>
        <!-------------------------------------------------------->
      </div>
    </div>
  </div>
</div>
