<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <form action="/logout" method="post">
    <input type="submit" value="logout" name="logout">
  </form>
  {{{ body }}}
</body>
</html>
