<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <!-- Jquery required for Foundation, and LISTJS -->
  <script src="/javascripts/jquery/3.2.1/jquery.min.js"></script>
  <!-- FOUNDATION -->
  <!-- Compressed CSS -->
  <link rel="stylesheet" href="/foundation/6.3.1/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
  <!-- Compressed JavaScript -->
  <script src="/foundation/6.3.1/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
  <!-- END FOUDATION -->
  <!-- LISTJS -->
  <script src="/javascripts/listjs/1.5.0/list.min.js"></script>
  <!-- END LISTJS -->
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <!-- Other -->
  <script src="/javascripts/urlParameters.js"></script>
  <script src="/javascripts/search.js"></script>
</head>
<body>
  <!-- HEADER ----------------------------------------------------------------->
  <div class="header">
    <div>TNT Cloud</div>
  </div>

  <!-- All Site Wrap ---------------------------------------------------------->
  <div class="all-site-wrap">

  <!-- Main Nav --------------------------------------------------------------->
  <nav class="main-nav" id="main-Nav">
    <ul class="vertical menu">
      <li><a href="/dispatch">Dispatch</a></li>
      <li><a href="/core-warranty">Core/Warranty</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
    <form action="/logout" method="post">
      <input id="sign-out-button" class="button" type="submit" value="Sign Out" name="logout">
    </form>
  </nav>

  <!-- Page Wrap -------------------------------------------------------------->
  <div class="page-wrap">
  {{> nav }}
  
  <!-- Main Wrap -------------------------------------------------------------->
  <div class="main-wrap row small-11 columns">

  <!-- Body Template ---------------------------------------------------------->
  {{{ body }}}
  <!-- End Body Template ------------------------------------------------------>

  </div> <!-- Close Main Wrap ------------------------------------------------->

  </div><!-- Close Page Wrap -------------------------------------------------->

  </div><!-- Close All Site Wrap ---------------------------------------------->
</body>
</html>
