
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>Main Sections</h2>
</div>

<!-- Primary Content -------------------------------------------------------->
<p><a href="/dispatch/dispatching" class="button">Dispatching</a></p>

<p><a href="/core-warranty" class="button">Core Warranty</a></p>

{{#if isAdmin}}
<p><a href="/users" class="button">Users</a></p>
{{/if}}
