
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>People</h1>
  <h3>Turned In By & Received By</h3>
  <p>These are the names available in the tracker select lists "Turned In By" and "Received By"</p>
</div>

<p><a class="button hollow" href="peopleinput.html">Add Person</a></p>

<!-- Primary Content -------------------------------------------------------->
<table class="data-table stack">
  <thead>
    <tr>
      <th class="col2">Person Name</th>
      <th class="col2">Delete Person</th>
    </tr>
  </thead>
  <tbody id="people-list" class="list">
    {{{ gotPeople }}}
    {{#each gotPeople }}
        {{ this }}
    {{/each}}
  </tbody>
</table>
