
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>People</h1>
  <h3>Turned In By & Received By</h3>
  <p>These are the names available in the tracker select lists "Turned In By" and "Received By"</p>
</div>

<p><a class="button hollow" href="people-add">Add Person</a></p>

<!-- Primary Content -------------------------------------------------------->
<table class="data-table stack">
  <thead>
    <tr>
      <th class="col2">Person Name</th>
      <th class="col2">Delete Person</th>
    </tr>
  </thead>
  <tbody id="people-list" class="list">
    {{#each peopleData }}
      <tr class="data-row" data-sort="{{DateTimeStampServer}}" id="{{@key}}">
        <td>{{ PersonName }}</td>
        <td><a class="button list-record" href="people-delete/?KEY={{@key}}">Delete Person</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
