
  <!-- Title/Intro ------------------------------------------------------------>
  <div class="section-intro">
    <h1>Delete Person</h2>
  </div>

  <!-- Primary Content -------------------------------------------------------->
  <table class="data-table stack">
    <thead>
      <tr>
        <th class="col2">Person Name</th>
        <th class="col3">Delete Person</th>
        <th class="col4">Cancel</th>
      </tr>
    </thead>
    <tbody id="people-list">
      <tr class="data-row">
        <td id="person-record-name">{{ templateData.PersonName }}</td>
        <!-- Password reset --------------------------------------------------->
        <td>
        <form action="/people-delete/delete-person" method="post">
          <!--Button----------------------->
          <button class="button alert" name="{{ key }}">
            Delete Person
          </button>
        </form>
        </td>
        <!-------------------------------------------------------->
        <td><a href="/core-warranty/people-list" class="button secondary">Cancel</a></td>
      </tr>
    </tbody>
  </table>

  <script>

  /*****************************************************************************
   * Delete Employee
  *****************************************************************************/

  function deletePerson() {
    // select the database collection and key/record you want to remove from db
    const dbRef = firebase.database().ref('people/' + key); // key from above "list employee"
    // remove record from database by adding 'remove()' to the dbRef
    dbRef.remove();
  } // End function deleteEmployee


  </script>
