
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>Person add</h1>
  <p>Add a name to the list of available options for "Turned In By" and "Received By".</p>
</div>

<!-- Primary Content -------------------------------------------------------->
<form action="/core-warranty/insert-person" method="post">
  <input id="person-name" type="text" placeholder="First and Last Name" required name="PersonName">
  <input id="submit-person" type="submit" class="button primary" value="Add Person">
  <a href="/core-warranty/people-list" class="button secondary">Cancel</a>
</form>
