  <script src="/javascripts/dispatch/create-request-public.js"></script>
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>Create Request</h2>
</div>

<!-- Primary Content -------------------------------------------------------->
<!-- Main ------------------------------------------------------------------->
<div class="row expanded small-12 medium-10 large-6 columns">
  <form id="core-input-form" class="input-form" onSubmit="return submitCoreForm(this)">
    <div class="">
      <div class="card">
        <div class="card-divider">
          <h4>Create Core Record</h4>
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-label">R/O or Invoice#</span>
        <input type="text" id="core-ro" placeholder="R/O" class="input-group-field">
      </div>
      <div class="input-group">
        <span class="input-group-label">Customer</span>
        <input type="text" id="core-customer" placeholder="Customer"  class="input-group-field"/>
      </div>
      <div class="input-group">
        <span class="input-group-label">Failed Part Number</span>
        <input type="text" id="core-failed-part-number" placeholder="Failed Part Number"  class="input-group-field"/>
      </div>
      <div>
        <input id="submit-core" type="submit" class="button primary">
      </div>
    </div>
  </form>
</div>
