<!-- JS Imports are below the 'Branch Selector' Markup & at page bottom ------->
<!-- Import After Branch Selector Markup dispatching.js needs to run after it --->
<!-- If Branch Selector in Navigation, dispatching.js can be @ top of this file -->
<script src="/javascripts/handlebars/4.0.10/handlebars-v4.0.10.js"></script>
<script language="javascript" src="/javascripts/dispatch/dispatching.js"></script>
{{#if isJAX }}<script language="javascript" src="/javascripts/dispatch/branch/branch-jax.js"></script>{{/if}}
{{#if isNFWS }}<script language="javascript" src="/javascripts/dispatch/branch/branch-nfws.js"></script>{{/if}}
{{#if isLC }}<script language="javascript" src="/javascripts/dispatch/branch/branch-lc.js"></script>{{/if}}
{{#if isWC }}<script language="javascript" src="/javascripts/dispatch/branch/branch-wc.js"></script>{{/if}}
{{#if is440 }}<script language="javascript" src="/javascripts/dispatch/branch/branch-440.js"></script>{{/if}}

<!-- Title/Intro -------------------------------------------------------------->
<div class="section-intro dispatch">
<!--  <h1>Dispatching</h2> -->
</div>


<!-- Two Columns -------------------------------------------------------------->
<div id="dispatchRecords" class="grid-x two-column dispatching">
  <div class="dispatching">
    <!-- Column 1 ------------------------------------------------------------->
    <div class="small-6 cell col1">
      <h2>Requested</h2>
        <div id="requested" class="list"></div>
    </div>
    <!-- Column 2 ------------------------------------------------------------->
    <div class="small-6 cell col1">
      <h2>Dispatched</h2>
        <div id="dispatched" class="list"></div>
    </div>
  </div>
</div>


<!-- Dispatch Create Form ----------------------------------------------------->
<!-- Foundation Example Reveal/Popup Modal ------------------------------------>
<!-- http://foundation.zurb.com/sites/docs/reveal.html ------------------------>
<!-- popup activation placed into navigation bar's 'Create Request' button ---->
<div class="row expanded small-12 medium-6 large-3 columns reveal"  id="requestCreate" data-reveal data-reset-on-close="true" data-close-on-click="false">
  <form id="requestCreateForm" class="input-form" onSubmit="return dispatchCreateFormDataRecord(this)">
    <div class="hover-form">
      <div class="card">
        <div class="card-divider">
          <h4>Create Pickup Request</h4>
          <!-- Big 'X' close form button -->
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <!-- Vendor ------------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Vendor</span>
        <input type="text" id="createVendor" placeholder="Vendor" class="input-group-field" name="Vendor">
      </div>
      <!-- Branch From -------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">From</span>
        <select id="createBranchFrom"  class="input-group-field" name="BranchFrom">
          <!-- <option value="">Select Branch</option> -->
          <option value="JAX">JAX</option>
          <option value="NFWS">NFWS</option>
          <option value="LC">LC</option>
          <option value="WC">WC</option>
          <option value="440">440</option>
        </select>
      </div>
      <!-- Branch To ---------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">To</span>
        <select id="createBranchTo"  class="input-group-field" name="BranchTo">
          <!-- <option value="">Select Branch</option> -->
          <option value="JAX">JAX</option>
          <option value="NFWS">NFWS</option>
          <option value="LC">LC</option>
          <option value="WC">WC</option>
          <option value="440">440</option>
        </select>
      </div>
      <!-- Priority ---------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Urgency</span>
        <select id="createUrgency"  class="input-group-field" name="Urgency">
          <option value="normal">Normal</option>
          <option value="low">Low</option>
          <option value="high">High</option>
          <option value="urgent">Urgent</option>
        </select>
      </div>
      <!-- Reference ---------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Reference</span>
        <input type="text" id="createReference" placeholder="Reference" class="input-group-field" name="Reference"/>
      </div>
      <!-- Instructions ------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Instructions</span>
        <input type="text" id="createInstructions" placeholder="Instructions" class="input-group-field" name="Instructions"/>
      </div>
      <!-- Driver ------------------------------------------------------->
      {{#if showDriverInput }}
      <div class="input-group">
        <span class="input-group-label">Driver</span>
        <input type="text" id="createDriver" placeholder="Driver" class="input-group-field" name="Driver"/>
      </div>
      {{/if}}
      <!-- Submit Button ------------------------------------------------------>
      <div>
        <input id="submit-dispatch-request" type="submit" class="button success">
      </div>
    </div>
  </form>
</div>

<!-- Dispatch Edit Form ------------------------------------------------------->
<!-- Foundation Example Reveal/Popup Modal ------------------------------------>
<!-- http://foundation.zurb.com/sites/docs/reveal.html ------------------------>
<!-- popup activation placed into navigation bar's 'Create Request' button ---->
<div class="row expanded small-12 medium-6 large-3 columns reveal"  id="requestEdit" data-reveal data-reset-on-close="true" data-close-on-click="false">
  <form id="requestEditForm" class="input-form" onSubmit="return dispatchEditFormDataUpdate(this)">
    <div class="hover-form">
      <div class="card">
        <div class="card-divider">
          <h4>Edit Pickup Request</h4>
          <!-- Big 'X' close form button -->
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <!-- Vendor ------------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Vendor</span>
        <input type="text" id="editVendor" placeholder="Vendor" class="input-group-field" name="Vendor">
      </div>
      <!-- Branch From -------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">From</span>
        <select id="editBranchFrom"  class="input-group-field" name="BranchFrom">
          <!-- <option value="">Select Branch</option> -->
          <option value="JAX">JAX</option>
          <option value="NFWS">NFWS</option>
          <option value="LC">LC</option>
          <option value="WC">WC</option>
          <option value="440">440</option>
        </select>
      </div>
      <!-- Branch To ---------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">To</span>
        <select id="editBranchTo"  class="input-group-field" name="BranchTo">
          <!-- <option value="">Select Branch</option> -->
          <option value="JAX">JAX</option>
          <option value="NFWS">NFWS</option>
          <option value="LC">LC</option>
          <option value="WC">WC</option>
          <option value="440">440</option>
        </select>
      </div>
      <!-- Priority ---------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Urgency</span>
        <select id="editUrgency"  class="input-group-field" name="Urgency">
          <option value="normal">Normal</option>
          <option value="low">Low</option>
          <option value="high">High</option>
          <option value="urgent">Urgent</option>
        </select>
      </div>
      <!-- Reference ---------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Reference</span>
        <input type="text" id="editReference" placeholder="Reference"  class="input-group-field" name="Reference"/>
      </div>
      <!-- Instructions ------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Instructions</span>
        <input type="text" id="editInstructions" placeholder="Instructions"  class="input-group-field" name="Instructions"/>
      </div>
      <!-- Driver ------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Driver</span>
        {{#if showDriverInput }}
          <input type="text" id="editDriver" placeholder="Driver"  class="input-group-field" name="Driver"/>
        {{ else }}
          <input type="text" id="editDriver" placeholder="Driver"  class="input-group-field" name="Driver" disabled />
        {{/if}}
      </div>
      <!-- Submit Button ------------------------------------------------------>
      <div>
        <input id="submit-dispatch-request" type="submit" class="button success">
      </div>
    </div>
  </form>
</div>


{{#if isAdmin}}
<!-- Dispatch Delete Form ----------------------------------------------------->
<!-- Foundation Example Reveal/Popup Modal ------------------------------------>
<!-- http://foundation.zurb.com/sites/docs/reveal.html ------------------------>
<!-- popup activation placed into navigation bar's 'Create Request' button ---->
  <div class="row expanded small-12 medium-6 large-3 columns reveal"  id="requestDelete" data-reveal data-reset-on-close="true" data-close-on-click="false">
    <form id="requestDeleteForm" class="input-form" onSubmit="return dispatchEditFormDataUpdate(this)">
      <div class="hover-form">
        <div class="card">
          <div class="card-divider">
            <h5 style="width: 80%; text-align: left;">Once deleted the record is permanently removed from the database.</h5>
            <!-- Big 'X' close form button -->
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <!-- Submit Button ------------------------------------------------------>
        <div id="deleteButtonParent"></div>
      </div>
    </form>
  </div>
<!-- Delete Dispatch Request: Only import if isAdmin = true ------------------->
<script src="/javascripts/dispatch/dispatch-request-delete.js"></script>
{{/if}}


{{#if isAdmin}}
<!-- Dispatch Received Form --------------------------------------------------->
<!-- Foundation Example Reveal/Popup Modal ------------------------------------>
<!-- http://foundation.zurb.com/sites/docs/reveal.html ------------------------>
<!-- popup activation placed into navigation bar's 'Create Request' button ---->
  <div class="row expanded small-12 medium-6 large-3 columns reveal"  id="requestReceived" data-reveal data-reset-on-close="true" data-close-on-click="false">
    <form id="requestReceivedForm" class="input-form" onSubmit="return dispatchReceivedFormDataUpdate(this)">
      <div class="hover-form">
        <div class="card">
          <div class="card-divider">
            <h5 style="width: 80%; text-align: left;">Once changed to received this cannot be undone.</h5>
            <!-- Big 'X' close form button -->
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <!-- Submit Button ---------------------------------------------------->
        <div id="receivedButtonParent"></div>
      </div>
    </form>
  </div>
<!-- Received Dispatch Request: Only import if isAdmin = true ----------------->
<script src="/javascripts/dispatch/dispatch-request-received.js"></script>
{{/if}}


<!-- Request Card Forms, Input Fields, and Processing Code  ------------------->
<script src="/javascripts/dispatch/dispatch-request-create.js"></script>
<script src="/javascripts/dispatch/dispatch-request-edit.js"></script>
