<script src="/javascripts/handlebars/4.0.10/handlebars-v4.0.10.js"></script>
<script language="javascript" src="/javascripts/dispatch/dispatching.js"></script>


<!-- Title/Intro -------------------------------------------------------------->
<div class="section-intro dispatch">
<!--  <h1>Dispatching</h2> -->
</div>


<!-- Request Edit Form -------------------------------------------------------->
<!-- Foundation Example Reveal/Popup Modal ------------------------------------>
<!-- http://foundation.zurb.com/sites/docs/reveal.html ------------------------>
<!-- popup activation placed into navigation bar's 'Create Request' button ---->
<div class="row expanded small-12 medium-6 large-3 columns reveal"  id="requestEdit" data-reveal data-reset-on-close="true" data-close-on-click="true">
  <form id="requestEditForm" class="input-form" onSubmit="return submitRequestEditForm(this)"></form>
</div>


<!-- Two Columns -------------------------------------------------------------->
<div class="grid-x two-column dispatching">
  <div class="dispatching">
    <!-- Column 1 ------------------------------------------------------------->
    <div class="small-6 cell col1">
      <h2>Requested</h2>
        <div id="requested" class="list"></div>
    </div>
    <!-- Column 2 ------------------------------------------------------------->
    <div class="small-6 cell col1">
      <h2>Dispatched</h2>
        <div id="dispatched" class="list"></div>
    </div>
  </div>
</div>


<!-- Request Create Form ------------------------------------------------------>
<!-- Foundation Example Reveal/Popup Modal ------------------------------------>
<!-- http://foundation.zurb.com/sites/docs/reveal.html ------------------------>
<!-- popup activation placed into navigation bar's 'Create Request' button ---->
<div class="row expanded small-12 medium-6 large-3 columns reveal"  id="requestCreate" data-reveal data-reset-on-close="true" data-close-on-click="true">
  <form id="requestCreateForm" class="input-form" onSubmit="return submitRequestCreateForm(this)"></form>
</div>

<!-- Request Card Forms, Input Fields, and Processing Code  ------------------->
<script src="/javascripts/dispatch/request-form.js"></script>
<script src="/javascripts/dispatch/request-create.js"></script>
<script src="/javascripts/dispatch/request-edit.js"></script>
