<script src="/javascripts/handlebars/4.0.10/handlebars-v4.0.10.js"></script>
<script language="javascript" src="/javascripts/dispatch/dispatching.js"></script>
<script src="/javascripts/dispatch/create-request.js"></script>

<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro dispatch">
<!--  <h1>Dispatching</h2> -->
</div>

<!-- Create Request Form ------------------------------------------------------>
<!-- Foundation Example Reveal/Popup Modal ------------------------------------>
<!-- http://foundation.zurb.com/sites/docs/reveal.html ------------------------>
<!-- popup activation placed into navigation bar's 'Create Request' button -->
<div class="row expanded small-12 medium-6 large-3 columns reveal"  id="requestCreate" data-reveal data-reset-on-close="true" data-close-on-click="true">
  <form id="dispatch-input-form" class="input-form" onSubmit="return submitForm(this)">
    <div class="hover-form">
      <div class="card">
        <div class="card-divider">
          <h4>Create Pickup Request</h4>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <!-- Vendor ------------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Vendor</span>
        <input type="text" id="vendor" placeholder="Vendor" class="input-group-field" name="vendor">
      </div>
      <!-- Branch From -------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">From</span>
        <select id="branch-from"  class="input-group-field" name="branch-from">
          <!-- <option value="">Select Branch</option> -->
          <option value="JAX">JAX</option>
          <option value="NFWS">NFWS</option>
          <option value="LC">LC</option>
          <option value="WC">WC</option>
          <option value="440">440</option>
        </select>
      </div>
      <!-- Branch To ---------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">To</span>
        <select id="branch-to"  class="input-group-field" name="branch-to">
          <!-- <option value="">Select Branch</option> -->
          <option value="JAX">JAX</option>
          <option value="NFWS">NFWS</option>
          <option value="LC">LC</option>
          <option value="WC">WC</option>
          <option value="440">440</option>
        </select>
      </div>
      <!-- Priority ---------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Urgency</span>
        <select id="urgency"  class="input-group-field" name="urgency">
          <option value="normal">Normal</option>
          <option value="low">Low</option>
          <option value="high">High</option>
          <option value="urgent">Urgent</option>
        </select>
      </div>
      <!-- Reference ---------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Reference</span>
        <input type="text" id="reference" placeholder="Reference"  class="input-group-field" name="reference"/>
      </div>
      <!-- Instructions ------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Instructions</span>
        <input type="text" id="instructions" placeholder="Instructions"  class="input-group-field" name="instructions"/>
      </div>
      <!-- Driver ------------------------------------------------------->
      <div class="input-group">
        <span class="input-group-label">Driver</span>
        <input type="text" id="driver" placeholder="Driver"  class="input-group-field" name="driver"/>
      </div>
      <!-- Submit Button ------------------------------------------------------>
      <div>
        <input id="submit-dispatch-request" type="submit" class="button primary">
      </div>
    </div>
  </form>
</div>


<!-- Two Columns -------------------------------------------------------------->
<div class="grid-x two-column dispatching">
  <div class="dispatching">
    <!-- Column 1 --------------------------------------------------------------->
    <div class="small-6 cell col1">
      <h2>Requested</h2>
        <div id="requested" class="list"></div>
    </div>
    <!-- Column 2 --------------------------------------------------------------->
    <div class="small-6 cell col1">
      <h2>Dispatched</h2>
        <div id="dispatched" class="list"></div>
    </div>
  </div>
</div>
