<script src="/javascripts/handlebars/4.0.10/handlebars-v4.0.10.js"></script>
<script language="javascript" src="/javascripts/dispatch/dispatching.js"></script>

<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro dispatch">
<!--  <h1>Dispatching</h2> -->
</div>

<!-- Two Columns -------------------------------------------------------------->
<div class="grid-x two-column dispatching">
  <div class="dispatching">
    <!-- Column 1 --------------------------------------------------------------->
    <div class="small-6 cell col1">
      <h2>Requested</h2>
        <div id="requested" class="list"></div>
    </div>
    <!-- Column 2 --------------------------------------------------------------->
    <div class="small-6 cell col1">
      <h2>Dispatched</h2>
        <div id="dispatched" class="list"></div>
    </div>
  </div>
</div>
