
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro dispatch">
  <h1>Dispatch</h2>
</div>

<!-- Primary Content -------------------------------------------------------->
<p><a href="/dispatch/history" class="button">History</a></p>

<p><a href="/dispatch/dispatching" class="button">Dispatching</a></p>

<p><a href="/dispatch/create-request" class="button">Create Request</a></p>
