
/*******************************************************************************
 * Login Box
 ******************************************************************************/
#loginBox {
  background: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}
#btnPasswordReset {
  float: right;
}

/*******************************************************************************
 * Sign Out
 ******************************************************************************/
#sign-out-button {
  color: #1779ba;
}
#sign-out-button:hover {
  color: #cc4b37;
}

/*******************************************************************************
 * Foundation Grid Notes
 ******************************************************************************/
/*
.small-xx = from 0px to 640px
.medium-xx = from 641px to 899px
.large-xx = from 900px+
*/

/*******************************************************************************
 * HTML
 ******************************************************************************/

@media screen and (min-width: 0px) {
  html {
    font-size: 75%;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 100%;
  }
}

/*******************************************************************************
 * Body
 ******************************************************************************/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/*******************************************************************************
 * Header
 ******************************************************************************/
.header {
  background-color: #1779ba;
  padding: .1rem 1.5rem;
  color: white;
  font-size: 1.5rem;
}
#site-name {
  display: inline-block;
}

/*******************************************************************************
 * Nav Main
 ******************************************************************************/
#main-nav {
  display: inline-block;
  float: right;
}
#main-nav .menu a {
  color: white;
  font-size: 1rem;
}

/*******************************************************************************
 * All Site Wrap
 ******************************************************************************/
.all-site-wrap {
  clear: both; /* clear header child floats or right-side of all-site-wrap has huge margin */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

/*******************************************************************************
 * Page Wrap
 ******************************************************************************/
.all-site-wrap .page-wrap {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 5000px;
  -moz-box-flex: 0;
  -ms-flex: 0 1 5000px;
  flex: 0 1 5000px;
}
.page-wrap {
  overflow: hidden;
}

/*******************************************************************************
 * Top Bar
 ******************************************************************************/
.top-bar {
  border-bottom: 1px solid #efefef;
}
.top-bar,
.top-bar .menu {
  background: none;
}
.top-bar .inner {

}

/*******************************************************************************
 * Grid
 ******************************************************************************/
.row {
  max-width: 100%;
}


/*******************************************************************************
 * Dispatching
 ******************************************************************************/
/*********************************
 * Section Intro (Dispatching)
 ********************************/
.section-intro.dispatch {
  margin-top: 1rem;
}

/*********************************
 * Columns (Dispatching)
 ********************************/
.two-column .dispatching .small-6 {
  width: 47.5%;
}
.two-column .dispatching .col1,
.two-column .col2 {
  float: left;
}
.two-column .dispatching .col1 {
  margin-right: 2.5%;
}
.two-column .dispatching .col2 {
  margin-left: 2.5%;
}
.dispatching .col .title {
  text-align: center;
  margin-bottom: 1.5rem;
  /* remove 5% of title width to exactly center above display cards */
  width: 95%;
}

/*********************************
 * Card - TNT Card Output
 ********************************/
.tnt-card-output {
  border: 2px solid #e6e6e6;
  /* apply to entire card, and overflow + text-overflow is applied lower level */
  white-space: nowrap;
  width: 45%;
  float: left;
  margin: 0 5% 2rem 0;
}

/*
#requested .tnt-card-output:nth-child(odd),
#dispatched .tnt-card-output:nth-child(odd) {
  margin: 0 2.5% 2rem 0;
  float: left;
}
#requested .tnt-card-output:nth-child(even),
#dispatched .tnt-card-output:nth-child(even) {
  margin: 0 0 2rem 2.5%;
  float: right;
}
*/
.tnt-card-output .data-item {
  /* see parent style of white-space: nowrap; in primary tnt-card-output */
  overflow: hidden;
  text-overflow: ellipsis;
}

.tnt-card-output .card-divider {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: .5rem;
}

.tnt-card-output .body {
  padding: .5rem;
}

.tnt-card-output .footer {
  /* Footer height (including padding top/bottom) must be set so all cards same height */
  margin: 0 .5rem;
  height: 1.5rem;
}

/*********************************
 * Card Footer Links (Dispatching)
 ********************************/
.dispatching .edit-link {
  float: left;
  width: 20%;
}
.dispatching .received-link {
  float: left;
  width: 60%;
  text-align: center;
}
.dispatching .delete-link {
  float: right;
  width: 20%;
  text-align: right;
}
.dispatching .received-link a {
 color: #3adb76;
 font-weight: bold;
}
.dispatching #requested .received-link {
  display: none;
}
/*********************************
 * Show/Hide Records by Branch (Dispatching)
 ********************************/
/* JAX Branch show/hide */
.dispatching.JAX .tnt-card-output {
  display: none;
}
.dispatching.JAX .tnt-card-output.JAX {
  display: block;
}
/* NFWS Branch show/hide */
.dispatching.NFWS .tnt-card-output {
  display: none;
}
.dispatching.NFWS .tnt-card-output.NFWS {
  display: block;
}
/* LC Branch show/hide */
.dispatching.LC .tnt-card-output {
  display: none;
}
.dispatching.LC .tnt-card-output.LC {
  display: block;
}
/* WC Branch show/hide */
.dispatching.WC .tnt-card-output {
  display: none;
}
.dispatching.WC .tnt-card-output.WC {
  display: block;
}
/* 440 Branch show/hide */
/* Digital CSS Selectors can be targeted with Unicode Characters
 * https://codepen.io/bodigiti/pen/QgYYYo
 * https://en.wikipedia.org/wiki/List_of_Unicode_characters
 */
.dispatching.\34 \34 0 .tnt-card-output {
  display: none;
}
.dispatching.\34 \34 0 .tnt-card-output.\34 \34 0 {
  display: block;
}


/*******************************************************************************
 * Firebase Login
 ******************************************************************************/
#firebaseui-auth-container {
  margin-top: 3rem;
}

/*******************************************************************************
 * Card
 ******************************************************************************/
.card-divider {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e6e6e6;
  padding: .5rem;
}
.card-divider h4 {
  margin-bottom: 0;
}
.card-divider.urgency-low {
  background: #e6e6e6;
}
.card-divider.urgency-normal {
  background: #99e8ff;
}
.card-divider.urgency-high {
  background: gold;
}
.card-divider.urgency-urgent {
  background: #cc4b37;
}
.card-divider.urgency-urgent div {
  color: white;
}

/*******************************************************************************
 * Foundation Popup 'Reveal' Modal
 ******************************************************************************/
.close-button {
  top: .35rem;
  right: 2rem;
}

/*******************************************************************************
 * Hover Form
 ******************************************************************************/
.hover-form input::placeholder { /* WebKit, Blink, Edge */
  color: #666;
}

/*******************************************************************************
 * Output Form & Print Area
 ******************************************************************************/
#output-form {
  width: 700px;
}

#output-form table {
  font-weight: bold;
  margin-bottom: 0;
}

#output-form table.data-table thead,
#output-form table.data-table tfoot {
  background: #fff;
}

#output-form table thead td,
#output-form table thead th {
  padding: .75rem .625rem 0rem .625rem;
}

#output-form table tbody td {
  padding-top: 0;
  padding-bottom: 0;
}

#output-form table tfoot tr {
  border: 1px solid #e6e6e6;
}

#output-form .footer th,
#output-form .footer td {
  border-top: 1px solid #e6e6e6;
}

/*******************************************************************************
 * Output Form: Print Area for Browser to pick up only what we want printed
 ******************************************************************************/

@media print {
  body * {
    visibility: hidden;
  }
  #output-form.print-area * {
    visibility: visible;
  }
  #output-form.print-area {
    position: absolute;
    left: 0;
    top: 0;
  }
}

/*******************************************************************************
 * Buttons
 ******************************************************************************/
 /* yes, both need to be targeted because different files have different class order */
.button.list-record,
.list-record .button {
  margin: 0;
}


/*******************************************************************************
 * Tables Layout
 ******************************************************************************/

.data-table {
  table-layout: fixed;
  width: 100%;
  white-space: wrap;
}
.data-table td {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*******************************************************************************
 * Table Sort
 ******************************************************************************/
.col-hidden,
.date-server-turned-in {
  display: none;
}

.sort {
  height: 0;
  background: url(../images/imgbg.gif) no-repeat center right;
  position: relative;
  top:4px;
}
.sort.asc {
  height: 0;
  background: url(../images/imgasc.gif) no-repeat center right;
  position: relative;
  top:4px;
}
.sort.desc {
  height: 0;
  background: url(../images/imgdesc.gif) no-repeat center right;
  position: relative;
  top:4px;
}
