
<!-- Title/Intro ------------------------------------------------------------>
<div class="section-intro">
  <h1>Create User</h2>
</div>

<!-- Firebase User Create ----------------------------------------------------->
<!-- https://codepen.io/johngerome/pen/pdrgk -->
<!-- DO NOT USE <FORM> as wrapper of firebase auth input fields -->
<div class="row expanded small-12 medium-10 large-4 columns">
  <div class="row">
    <!-- User Create Form ----------------------------------------------------->
    <form action="/users/user-create-input" method="post">
      <!--Display Name----------------------------------->
      <div class="row">
        <div class="input-group">
          <span class="input-group-label">Display Name</span>
          <input id="displayName" class="input-group-field" type="text" required placeholder="Display Name" name="displayName" />
        </div>
      </div>
      <!--Email----------------------------------->
      <div class="row">
        <div class="input-group">
          <span class="input-group-label">Email</span>
          <!-- email validation: https://stackoverflow.com/a/28219965 -->
          <input id="email" class="input-group-field" type="email" required placeholder="Email" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" />
        </div>
      </div>
      <!--Password----------------------------------->
      <div class="row">
        <div id="passwordError"></div>
        <div class="input-group">
          <span class="input-group-label">Password</span>
          <input id="password" class="input-group-field" type="password" required placeholder="Password" name="password" onkeyup="checkPass(); return false;" />
        </div>
      </div>
      <!--Password Confirm--------------------------->
      <div class="row">
        <div class="input-group">
          <span class="input-group-label">Confirm Password</span>
          <input id="passwordConfirm" class="input-group-field" type="password" required placeholder="Confirm Password" name="passwordConfirm" onkeyup="checkPass(); return false;" />
        </div>
      </div>
      <!--Role----------------------------------->
      <div class="row">
        <div class="input-group">
          <span class="input-group-label">Role</span>
          <select id="role" class="input-group-field" placeholder="Role" name="role">
            <option value="basic">Basic</option>
            <option value="dispatch_jax">Dispatch JAX</option>
            <option value="dispatch_nfws">Dispatch NFWS</option>
            <option value="dispatch_lc">Dispatch LC</option>
            <option value="dispatch_wc">Dispatch WC</option>
            <option value="dispatch_440">Dispatch 440</option>
            <option value="admin">Administrator</option>
          </select>
        </div>
      </div>
      <!--Button----------------------->
      <button id="btnUserCreate" class="button" disabled="true">
        Create User
      </button>
      <a href="/users" class="button secondary">Cancel</a>
    </form>
    <!-- End User Create Form ------------------------------------------------->
  </div>
</div>

<script>

function checkPass() {
  var pass1 = document.getElementById('password');
  var pass2 = document.getElementById('passwordConfirm');
  var btnUserCreate = document.getElementById('btnUserCreate');
  var message = document.getElementById('passwordError');
  var goodColor = "#3adb76";
  var badColor = "#cc4b37";

  // Check Password Length
  if (pass1.value.length > 5) {
    pass1.style.backgroundColor = goodColor;
    message.style.color = goodColor;
    message.innerHTML = "character number ok!"
  } else {
    pass1.style.backgroundColor = badColor;
    message.style.color = badColor;
    message.innerHTML = " You have to enter at least 6 digits!"
    // must set full attribute for this to work: 'disabled', 'true'
    btnUserCreate.setAttribute('disabled', 'true');
    return;
  }
  // Check if Passwords Match
  if (pass1.value == pass2.value) {
    pass2.style.backgroundColor = goodColor;
    message.style.color = goodColor;
    message.innerHTML = "Okay!"
    btnUserCreate.removeAttribute('disabled');
  } else {
    pass2.style.backgroundColor = badColor;
    message.style.color = badColor;
    message.innerHTML = " These passwords don't match"
    // must set full attribute for this to work: 'disabled', 'true'
    btnUserCreate.setAttribute('disabled', 'true');
  }
}

</script>
